<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>grass_lower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{1024,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,384}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>grass_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,384}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>mole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,588},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,388},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,774},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,774},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,774},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,774},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,774},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moleall-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f495ddb68e6fbf0697bd3ed0da0a8073$</string>
            <key>textureFileName</key>
            <string>moleall-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
