<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_laugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_laugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,206},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_laugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_thump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,104},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_thump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_thump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>mole_thump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mole.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e006d3f49df3d191d484c0bc6f9e8df0$</string>
            <key>textureFileName</key>
            <string>mole.pvr.ccz</string>
        </dict>
    </dict>
</plist>
